
.idea/.name

*.xml

*.iml

*.stash

IGTL/LeapMotion/LeapMotion.pro.user

IGTL/LeapMotion/main.o

IGTL/LeapMotion/Makefile

IGTL/LeapMotion/LeapMotion

IGTL/LeapMotion/moc/moc_tracker.cpp

*.o

IGTL/LeapMotion/share.dat
